<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <script
      src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
       <div class="container overflow-auto">
    <div class="jumbotron">
        <h1>Welcome to Web Programming & Framework 1 Project</h1>
        <p>This demonstrates Step 3 where we have created a route using handlebars. It takes page,perPage and storeLocation through a FORM and displays the output using TemplateEngine!</p>
      </div>
    {{{body}}}
    </div>
 
  </body>
</html>